{% extends "snippets/base.html" %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        <label for="title">Add Title</label>
        <input type="text" name="title"><br>
        <label for="code">Add Code</label>
        <textarea name="data", rows="4", cols="50">Input your code here.</textarea>
        <input type="submit" value="Add Snippet">
     <label for="lang">Choose a language:</label>
     <select id="lang" name="lang">
       {% for lang in langs %}
       <option name={{lang.name}} value="{{lang.name}}">{{lang.name}}</option>
       {% endfor %}
     </select>
       </form>
    <div style="padding: 5px">
    <a href="{% url 'snippets:dashboard' %}">Dashboard</a>
    </div>
{% endblock content %}