{% extends "snippets/base.html" %}
{% block content %}
    {% for s in snippet_list%}
    <div class="snippetListElement" >
    <span class="lato-bold">{{s.title}}</span>
    <form class="snippetForm" action="{% url 'snippets:delete_snippet' %}" onclick="return confirm('Are you sure you want to delete?');" method="post">
        {% csrf_token %}
        <input type="submit" value="Delete" name="{{s.id}}" />
    </form>
    <a href="{% url 'snippets:view' pk=s.id %}">View</a>
    <a href="{% url 'snippets:edit' pk=s.id %}">Edit</a>
    </div>
    {% endfor %}
    <div style="padding: 10px">
    <form method="POST" style="display:inline" action="{% url 'snippets:logout' %}">
        {% csrf_token %}
        <input type="submit" value="Logout" />
    </form>
    <a href="{% url 'snippets:create' %}">Create</a>
    </div>
{%endblock content %}