{% extends "snippets/base.html" %}
{% block content %}
    <form action="{% url 'snippets:register' %}" method="post">
        {% csrf_token %}
        <legend>Enter your new credentials:</legend>
        <label for="username">Username</label>
        <input name="username" type="text" id="username"><br>
        <label for="password">Password</label>
        <input name="password" type="password" id="password"><br>
        <input type="submit" value="Register">
    </form>
    {% if message %}
    {{message}}
    {% endif %}
    <a href="{% url 'snippets:index' %}">Home</a><br><br>
{% endblock content %}